
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      SpaceX
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">SpaceX</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="spacex-details">
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>{{getSpacexData?.name}}</ion-card-subtitle>
        <ion-card-title>{{getSpacexData?.ceo}}</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        {{getSpacexData?.summary}}
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
