<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="spacex">
      <ion-icon aria-hidden="true" name="triangle"></ion-icon>
      <ion-label>SpaceX</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="add-tutorial">
      <ion-icon aria-hidden="true" name="ellipse"></ion-icon>
      <ion-label>Add tutorials</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tutorial-list">
      <ion-icon aria-hidden="true" name="square"></ion-icon>
      <ion-label>Tutorials</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
