<div class="login">
  <div class="close">
    <ion-icon name="close-circle-outline" (click)="close();"></ion-icon>
  </div>
  <section>
    <ion-item>
      <ion-label position="floating">Name</ion-label>
      <ion-input type="text" [(ngModel)]="name" readonly="true"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Url</ion-label>
      <ion-input type="text" [(ngModel)]="url"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Description</ion-label>
      <ion-input type="text" [(ngModel)]="description"></ion-input>
    </ion-item>
    <ion-button (click)="editTutorial(name, url, description)">Edit Tutorial</ion-button>
  </section>
</div>
